<h1> P L A N E T S   &  M O O N S </h1>

<div class="container">
  <div class="nav-bar">
    <ul id="nav-new">
      <li>
        <a class="button" href="">new planet</a></li>
      <li><a class="button" href="">new moon</a></li>
    </ul>
  </div>

  <div>
    <table>
    </table>
  </div>
</div>
