body{
  color: #FFFFFF;
  background: #000000;
}

h1 {
  text-align: center;
}
a.button{
  width: 100px;
  color: #FFFFFF;
  background: #555555;
  text-decoration: none;
  padding: 0.75em;
  border-radius: 10px;
}

.nav-bar{
  float: left;
  height: 500px;
  width: 25%;
}
#nav-new li{
  list-style: none;
  text-decoration: none;
  padding: 1em;
}
table{
  display: inline-block;
}
.planet-table-pic{
  height: 200px;
  width: 200px;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
