<!DOCTYPE html>
<html>
<head>
  <title>PlanetsMoons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> P L A N E T S   &  M O O N S </h1>

  <div class="nav-bar">
    <ul id="nav-new">
      <li>
        <a class="button" href="/">index</a>
      </li>
      <li>
        <a class="button" href="planets/new">new planet</a>
      </li>
      <li>
        <a class="button" href="">new moon</a>
      </li>
    </ul>
  </div>
  <%= yield %>

</body>
</html>
